/* File: src/index.css */

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CHANGED: background-size cover để GIF phóng to và phủ toàn màn hình */
  background-image: url('./avatars/nen-giang-sinh.gif'), url('https://www.transparenttextures.com/patterns/connect.png');
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, fixed;
  background-position: center center, 0 0;
  background-size: cover, auto;  /* <- đổi từ 'auto 100%' thành 'cover' */

  background-color: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}